<settings>
	<category label="30000">
		<setting type="sep" />
		<setting id="sel_quality" type="bool" label="39022" default="false"/>
		<setting id="quality" type="labelenum" label="30001" default="5000" visible="eq(-1,True)" lvalues="30002|30003|30004|30005|30006|30007|30008|30009|30010|30011|30012|30013" />
		<setting id="enablesubtitles" type="bool" label="30014" default="false" />
		<setting id="maxpages" type="number" label="39023" default="10" />
		<setting id="strict_names" type="enum" label="30015" default="On" lvalues="30016|30017|30018" />
		<setting id="preffered_stream_type" type="labelenum" label="30020" default="HLS" values="RTMP|HLS" />
		<setting id="use_builtin_ssl" type="enum" label="30022" default="30023" lvalues="30023|30024|30025" />
		<setting type="sep" />
	</category>
	<category label="31000">
		<setting type="sep" />
		<setting id="connectiontype" type="enum" label="31001" default="0" lvalues="31002|31003|31004|31013" />
		<setting id="dns_proxy" type="ipaddress" label="31005" default="" visible="eq(-1,1)" />
		<setting id="dns_proxy_2" type="ipaddress" label="31006" default="" visible="eq(-2,1)" />
		<setting id="dns_proxy_3" type="ipaddress" label="31017" default="" visible="eq(-3,1)" />
		<setting id="dns_update_url" type="text" label="31012" default="" visible="eq(-4,1)" />
		<setting id="us_proxy" type="ipaddress" label="31007" default="" visible="eq(-5,2)" />
		<setting id="us_proxy_port" type="number" label="31008" default="" visible="eq(-6,2)" />
		<setting id="us_proxy_user" type="text" label="31009" default="" visible="eq(-7,2)" />
		<setting id="us_proxy_pass" type="text" label="31010" default="" visible="eq(-8,2)" />
		<setting id="us_proxy_socks5" type="bool" label="31011" default="0" visible="eq(-9,2)" />
		<setting id="tor_socks_port" type="number" label="31008" default="9050" visible="eq(-10,3)" />
		<setting id="tor_exit_node" type="text" label="31014" default="{us}" visible="eq(-11,3)" />
		<setting id="tor_use_local" type="bool" label="31015" default="true" visible="eq(-12,3)" />
		<setting id="tor_proxy" type="ipaddress" label="31007" default="" visible="eq(-1,False)+eq(-13,3)" />
		<setting id="tor_as_service" type="bool" label="31016" default="false" visible="eq(-2,True)+eq(-14,3)" />
		<setting type="sep" />
	</category>
	<category label="32000">
		<setting type="sep" />
		<setting id="network_in_master" type="bool" label="30021" default="True"  />
		<setting id="hide_clip_only" type="bool" label="30019" default="false" />
		<setting id="add_episode_identifier" type="bool" label="39025" default="false" />
		<setting id="hide_kodi_favorites" type="bool" label="30033" default="true" />
		<setting type="sep" />
		<setting id="viewenable" type ="bool" label="32001" default="false" />
		<setting id="rootview" type="enum" lvalues="32002|32003|32004|32005|32006|32007|32008" label="32009" default="3" />
		<setting id="tvshowsview" type="enum" lvalues="32002|32003|32004|32005|32006|32007|32008" label="32010" default="3" />
		<setting id="seasonsview" type="enum" lvalues="32002|32003|32004|32005|32006|32007|32008" label="32011" default="3" />
		<setting id="episodesview" type="enum" lvalues="32002|32003|32004|32005|32006|32007|32008" label="32012" default="3" />
		<setting type="sep" />
	</category>
	<category label="35000">
		<setting type="sep" />
		<setting id="enablelibraryfolder" type="bool" label="35001" default="true"/>
		<setting id="customlibraryfolder" type="folder" label="35002" default="" visible="eq(-1,False)"/>
		<setting id="customlibraryfoldermovie" type="folder" label="35009" default="" visible="eq(-2,False)"/>
		<setting id="updatelibrary" type="bool" label="35003" default="true"/>
		<setting id="show_export" type="bool" label="39039" default="false" />
		<setting type="sep" />
		<setting id="check_auto_script" label="39040" type="action"  option="close" action="RunScript(plugin.video.ustvvod, -1, ?mode=script_check)"/>
		<setting id="check_sources" label="39042" type="action"  option="close" action="RunScript(plugin.video.ustvvod, -1, ?mode=script_sources)"/>
		<setting type="sep" />
		<setting id="shownfo" type="bool" label="35007" default="true"/> 
		<setting id="episodenfo" type="bool" label="35004" default="true"/>
		<setting id="movienfo" type="bool" label="35005" default="false"/>
		<setting id="librarysuffix" type="text" label="35006" default="(USTVVOD)"/>
		<setting type="sep" />
	</category>
	<category label="34000">
		<setting type="sep"/>
		<setting type="lsep" label="CBS" />
		<setting id="cbs_use_login" type="bool" label="34001" default="false"/>
		<setting id="cbs_username" type="text" label="31009" default="" visible="eq(-1,True)"/>
		<setting id="cbs_password" type="text" label="31010" default="" option="hidden"  visible="eq(-2,True)"/>
		<setting type="sep" />
	</category>
	<category label="33000">
		<setting type="sep" />
		<setting id="abcchannel" type="bool" label="ABC" default="true"/>
		<setting id="abcfamily" type="bool" label="ABC Family" default="true"/>
		<setting id="abcnews" type="bool" label="ABC News" default="true"/>
		<setting id="adultswim" type="bool" label="Adult Swim" default="true"/>
		<setting id="aetv" type="bool" label="A&amp;E" default="true"/>
		<setting id="amc" type="bool" label="AMC" default="true"/>
		<setting id="bravo" type="bool" label="Bravo" default="true"/>
		<setting id="cartoon" type="bool" label="Cartoon Network" default="true"/>
		<setting id="cbs" type="bool" label="CBS" default="true"/>
		<setting id="cmt" type="bool" label="CMT" default="true"/>
		<setting id="comedy" type="bool" label="Comedy Central" default="true"/>
		<setting id="crackle" type="bool" label="Crackle" default="true"/>
		<setting id="disney" type="bool" label="Disney" default="true"/>
		<setting id="disneyjunior" type="bool" label="Disney Junior" default="true"/>
		<setting id="disneyxd" type="bool" label="Disney XD" default="true"/>
		<setting id="food" type="bool" label="Food Network" default="true"/>
		<setting id="fox" type="bool" label="FOX" default="true"/>
		<setting id="fx" type="bool" label="FX" default="false"/>
		<setting id="history" type="bool" label="History" default="true"/>
		<setting id="lifetime" type="bool" label="Lifetime" default="true"/>
		<setting id="logotv" type="bool" label="LogoTV" default="true"/>
		<setting id="marvelkids" type="bool" label="Marvel Kids" default="true"/>
		<setting id="msnbc" type="bool" label="MSNBC" default="true"/>
		<setting id="mtv" type="bool" label="MTV" default="true"/>
		<setting id="mtv2" type="bool" label="MTV2" default="true"/>
		<setting id="natgeo" type="bool" label="National Geographic" default="true"/>
		<setting id="natgeowild" type="bool" label="Nat Geo Wild" default="true"/>
		<setting id="nbc" type="bool" label="NBC" default="true"/>
		<setting id="nick" type="bool" label="Nickelodeon" default="true"/>
		<setting id="nickteen" type="bool" label="Nick Teen" default="true"/>
		<setting id="nicktoons" type="bool" label="Nick Toons" default="true"/>
		<setting id="oxygen" type="bool" label="Oxygen" default="true"/>
		<setting id="pbs" type="bool" label="PBS" default="true"/>
		<setting id="pbskids" type="bool" label="PBS Kids" default="true"/>
		<setting id="spike" type="bool" label="Spike" default="true"/>
		<setting id="syfy" type="bool" label="SyFy" default="true"/>
		<setting id="tcm" type="bool" label="TCM" default="true"/>
		<setting id="tbs" type="bool" label="TBS" default="true"/>
		<setting id="tnt" type="bool" label="TNT" default="true"/>
		<setting id="trutv" type="bool" label="TruTV" default="true"/>
		<setting id="thecw" type="bool" label="The CW" default="true"/>
		<setting id="thewbkids" type="bool" label="The WB Kids" default="true"/>
		<setting id="tvland" type="bool" label="TV Land" default="true"/>
		<setting id="usa" type="bool" label="USA" default="true"/>
		<setting id="vh1" type="bool" label="VH1" default="true"/>
		<setting type="sep" />
	</category>
</settings>
